In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
train_data=pd.read_csv(r'D:\課程\大四下\資料科學應用\project2\train.csv')
test_data=pd.read_csv(r'D:\課程\大四下\資料科學應用\project2\test.csv')
train_data

       year  month  day  hour  pm2.5  DEWP  TEMP    PRES cbwd     Iws  Is  Ir
0      2010      1    1     0    NaN -21.0 -11.0  1021.0   NW    1.79   0   0
1      2010      1    1     1    NaN   NaN -12.0  1020.0   NW    4.92   0   0
2      2010      1    1     2    NaN -21.0 -11.0     NaN   NW    6.71   0   0
3      2010      1    1     3    NaN -21.0   NaN  1019.0   NW    9.84   0   0
4      2010      1    1     4    NaN -20.0   NaN  1018.0   NW   12.97   0   0
...     ...    ...  ...   ...    ...   ...   ...     ...  ...     ...  ..  ..
35059  2013     12   31    19   22.0   NaN   7.0  1013.0   NW  114.87   0   0
35060  2013     12   31    20   18.0 -21.0   7.0  1014.0   NW  119.79   0   0
35061  2013     12   31    21   23.0 -21.0   7.0  1014.0   NW  125.60   0   0
35062  2013     12   31    22   20.0 -21.0   NaN  1014.0   NW  130.52   0   0
35063  2013     12   31    23   23.0 -20.0   7.0     NaN   NW  137.67   0   0

[35064 rows x 12 columns]

# one hot encoding

In [2]:
train_data = pd.get_dummies(train_data)
test_data = pd.get_dummies(test_data)

In [3]:
train_data

,year,month,day,hour,pm2.5,DEWP,TEMP,PRES,Iws,Is,Ir,cbwd_NE,cbwd_NW,cbwd_SE,cbwd_cv
0,2010,1,1,0,NaN,-21.0,-11.0,1021.0,1.79,0,0,0,1,0,0
1,2010,1,1,1,NaN,NaN,-12.0,1020.0,4.92,0,0,0,1,0,0
2,2010,1,1,2,NaN,-21.0,-11.0,NaN,6.71,0,0,0,1,0,0
3,2010,1,1,3,NaN,-21.0,NaN,1019.0,9.84,0,0,0,1,0,0
4,2010,1,1,4,NaN,-20.0,NaN,1018.0,12.97,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,2013,12,31,19,22.0,NaN,7.0,1013.0,114.87,0,0,0,1,0,0
35060,2013,12,31,20,18.0,-21.0,7.0,1014.0,119.79,0,0,0,1,0,0
35061,2013,12,31,21,23.0,-21.0,7.0,1014.0,125.60,0,0,0,1,0,0
35062,2013,12,31,22,20.0,-21.0,NaN,1014.0,130.52,0,0,0,1,0,0
35063,2013,12,31,23,23.0,-20.0,7.0,NaN,137.67,0,0,0,1,0,0

In [4]:
print(train_data.isnull().sum())

year           0
month          0
day            0
hour           0
pm2.5       1968
DEWP        5259
TEMP       10519
PRES       14025
Iws            0
Is             0
Ir             0
cbwd_NE        0
cbwd_NW        0
cbwd_SE        0
cbwd_cv        0
dtype: int64

In [5]:
print(test_data.isnull().sum())

year          0
month         0
day           0
hour          0
DEWP        876
TEMP       1752
PRES        876
Iws           0
Is            0
Ir            0
cbwd_NE       0
cbwd_NW       0
cbwd_SE       0
cbwd_cv       0
dtype: int64

# fill NA

In [6]:
#missing value 使用前向填充法
train_data[['pm2.5','DEWP','TEMP','PRES']]=train_data[['pm2.5','DEWP','TEMP','PRES']].fillna(method = 'ffill')
test_data[['DEWP','TEMP','PRES']]=test_data[['DEWP','TEMP','PRES']].fillna(method = 'ffill')

In [7]:
print(train_data.isnull().sum())

year        0
month       0
day         0
hour        0
pm2.5      24
DEWP        0
TEMP        0
PRES        0
Iws         0
Is          0
Ir          0
cbwd_NE     0
cbwd_NW     0
cbwd_SE     0
cbwd_cv     0
dtype: int64

In [8]:
print(test_data.isnull().sum())

year       0
month      0
day        0
hour       0
DEWP       0
TEMP       0
PRES       0
Iws        0
Is         0
Ir         0
cbwd_NE    0
cbwd_NW    0
cbwd_SE    0
cbwd_cv    0
dtype: int64

In [9]:
train_data['pm2.5'] = train_data['pm2.5'].fillna(np.mean(train_data['pm2.5']))

In [10]:
print(train_data.isnull().sum())

year       0
month      0
day        0
hour       0
pm2.5      0
DEWP       0
TEMP       0
PRES       0
Iws        0
Is         0
Ir         0
cbwd_NE    0
cbwd_NW    0
cbwd_SE    0
cbwd_cv    0
dtype: int64

# Add Feature

In [11]:
#納入季節
#1-Spring(3 4 5) 2-Summer(6 7 8) 3-Fall(9 10 11) 4-Winter(12 1 2)
def getseason(y):
    if 3 <= y <= 5 :
        Season = 1
    elif 6 <= y <= 8 :
        Season = 2
    elif 9 <= y <= 11 :
        Season = 3
    else :
        Season = 4
    return Season
train_data['season'] = train_data['month'].apply(getseason)
test_data['season'] = test_data['month'].apply(getseason)

In [12]:
#露點與溫度差
train_data['diff'] = train_data['DEWP']-train_data['TEMP']
test_data['diff'] = test_data['DEWP']-test_data['TEMP']

In [13]:
train_data

,year,month,day,hour,pm2.5,DEWP,TEMP,PRES,Iws,Is,Ir,cbwd_NE,cbwd_NW,cbwd_SE,cbwd_cv,season,diff
0,2010,1,1,0,97.761501,-21.0,-11.0,1021.0,1.79,0,0,0,1,0,0,4,-10.0
1,2010,1,1,1,97.761501,-21.0,-12.0,1020.0,4.92,0,0,0,1,0,0,4,-9.0
2,2010,1,1,2,97.761501,-21.0,-11.0,1020.0,6.71,0,0,0,1,0,0,4,-10.0
3,2010,1,1,3,97.761501,-21.0,-11.0,1019.0,9.84,0,0,0,1,0,0,4,-10.0
4,2010,1,1,4,97.761501,-20.0,-11.0,1018.0,12.97,0,0,0,1,0,0,4,-9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,2013,12,31,19,22.000000,-19.0,7.0,1013.0,114.87,0,0,0,1,0,0,4,-26.0
35060,2013,12,31,20,18.000000,-21.0,7.0,1014.0,119.79,0,0,0,1,0,0,4,-28.0
35061,2013,12,31,21,23.000000,-21.0,7.0,1014.0,125.60,0,0,0,1,0,0,4,-28.0
35062,2013,12,31,22,20.000000,-21.0,7.0,1014.0,130.52,0,0,0,1,0,0,4,-28.0
35063,2013,12,31,23,23.000000,-20.0,7.0,1014.0,137.67,0,0,0,1,0,0,4,-27.0

In [14]:
test_data

,year,month,day,hour,DEWP,TEMP,PRES,Iws,Is,Ir,cbwd_NE,cbwd_NW,cbwd_SE,cbwd_cv,season,diff
0,2014,1,1,0,-20.0,7.0,1014.0,143.48,0,0,0,1,0,0,4,-27.0
1,2014,1,1,1,-20.0,7.0,1013.0,147.50,0,0,0,1,0,0,4,-27.0
2,2014,1,1,2,-20.0,6.0,1013.0,151.52,0,0,0,1,0,0,4,-26.0
3,2014,1,1,3,-20.0,6.0,1013.0,153.31,0,0,0,1,0,0,4,-26.0
4,2014,1,1,4,-18.0,3.0,1012.0,0.89,0,0,0,0,0,1,4,-21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2014,12,31,19,-22.0,-2.0,1034.0,231.97,0,0,0,1,0,0,4,-20.0
8756,2014,12,31,20,-22.0,-3.0,1034.0,237.78,0,0,0,1,0,0,4,-19.0
8757,2014,12,31,21,-22.0,-3.0,1034.0,242.70,0,0,0,1,0,0,4,-19.0
8758,2014,12,31,22,-22.0,-4.0,1034.0,246.72,0,0,0,1,0,0,4,-18.0
8759,2014,12,31,23,-21.0,-3.0,1034.0,249.85,0,0,0,1,0,0,4,-18.0

# Feature Selection

In [15]:
corr_df=train_data.corr()['pm2.5']
corr_df

year      -0.009732
month     -0.006117
day        0.064212
hour      -0.021286
pm2.5      1.000000
DEWP       0.201552
TEMP      -0.044097
PRES      -0.090257
Iws       -0.249604
Is         0.023177
Ir        -0.048220
cbwd_NE   -0.034003
cbwd_NW   -0.225206
cbwd_SE    0.114857
cbwd_cv    0.153655
season     0.076235
diff       0.431221
Name: pm2.5, dtype: float64

In [16]:
corr_df[corr_df>0.1]

pm2.5      1.000000
DEWP       0.201552
cbwd_SE    0.114857
cbwd_cv    0.153655
diff       0.431221
Name: pm2.5, dtype: float64

In [17]:
train_y=train_data['pm2.5']
train_x=train_data.drop('pm2.5',1)
'''train_x=train_data.drop('year',1)
test_x=test_data.drop('year',1)'''
feature=corr_df[corr_df>0.1].index
feature=feature.drop('pm2.5')
feature=list(feature)
feature

['DEWP', 'cbwd_SE', 'cbwd_cv', 'diff']

In [18]:
train_x=train_x[feature]
test_data=test_data[feature]

# Min Max normaliztion

In [19]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler().fit(train_x)
train_x=scaler.transform(train_x)

In [20]:
test_x = scaler.transform(test_data)

In [21]:
num = 11
train_y[num]

97.76150114155251

In [22]:
X_train = [] 
y_train = []
for i in range(num,len(train_x)):
    X_train.append(train_x[i-num:i-1]) 
    y_train.append(train_y[i]) 
X_train, y_train = np.array(X_train), np.array(y_train)

In [23]:
X_train.shape

(35053, 10, 4)

# Split Validation

In [24]:
val_num=int(len(y_train)*0.2)
X_val_new=X_train[-val_num:]
X_train_new=X_train[:-val_num]
y_val_new=y_train[-val_num:]
y_train_new=y_train[:-val_num]

# Model Training

https://keras.io/api/callbacks/reduce_lr_on_plateau/

In [25]:
from tensorflow.keras import callbacks

model_mckp = callbacks.ModelCheckpoint('lstm.h5',
                      monitor='val_loss',
                      save_best_only=True)
reduce_lr= callbacks.ReduceLROnPlateau(monitor='val_loss',factor=0.1,patience=3, verbose=1)

earlystop = callbacks.EarlyStopping(monitor='val_loss',
                    patience=5,
                    verbose=1)


callbacks_list = [model_mckp,reduce_lr,earlystop]

In [26]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Dropout
from keras.layers import TimeDistributed
from keras.layers.core import Flatten
from keras.optimizers import SGD

#LSTM
model = Sequential()

model.add(LSTM(256, input_shape = (X_train.shape[1],X_train.shape[2]), return_sequences = True))
model.add(LSTM(256, return_sequences = True))
model.add(TimeDistributed(Dense(1)))
model.add(Flatten())
model.add(Dense(5,activation = 'linear'))
model.add(Dense(1))

opt = SGD(lr=0.01, momentum=0.0, decay=0.0, nesterov=False)
model.compile(loss="mean_absolute_error",metrics=['mean_absolute_error'], optimizer=opt)
#model.compile(loss = "mean_absolute_error", optimizer = "adam", metrics = ['mean_absolute_error'])
model.fit(X_train, y_train, epochs = 30, batch_size = 24,validation_data=(X_val_new,y_val_new),callbacks=callbacks_list)
#v2: epochs = 16    batch_size = 24
#V3: epochs = 30    batch_size = 24
#v4: reduce lr

Epoch 1/30
1461/1461 [==============================] - 57s 39ms/step - loss: 54.6240 - mean_absolute_error: 54.6240 - val_loss: 46.0353 - val_mean_absolute_error: 46.0353
Epoch 2/30
1461/1461 [==============================] - 59s 40ms/step - loss: 50.6879 - mean_absolute_error: 50.6879 - val_loss: 47.3059 - val_mean_absolute_error: 47.3059
Epoch 3/30
1461/1461 [==============================] - 59s 41ms/step - loss: 49.6117 - mean_absolute_error: 49.6117 - val_loss: 42.8922 - val_mean_absolute_error: 42.8922
Epoch 4/30
1461/1461 [==============================] - 60s 41ms/step - loss: 49.0106 - mean_absolute_error: 49.0106 - val_loss: 42.9077 - val_mean_absolute_error: 42.9077
Epoch 5/30
1461/1461 [==============================] - 60s 41ms/step - loss: 48.4140 - mean_absolute_error: 48.4140 - val_loss: 42.4182 - val_mean_absolute_error: 42.4182
Epoch 6/30
1461/1461 [==============================] - 62s 42ms/step - loss: 47.4827 - mean_absolute_error: 47.4827 - val_loss: 40.6780 - val_mean_absolute_error: 40.6780
Epoch 7/30
1461/1461 [==============================] - 63s 43ms/step - loss: 47.1316 - mean_absolute_error: 47.1316 - val_loss: 42.8462 - val_mean_absolute_error: 42.8462
Epoch 8/30
1461/1461 [==============================] - 61s 42ms/step - loss: 46.8056 - mean_absolute_error: 46.8056 - val_loss: 42.7954 - val_mean_absolute_error: 42.7954
Epoch 9/30
1461/1461 [==============================] - 62s 42ms/step - loss: 46.6190 - mean_absolute_error: 46.6190 - val_loss: 39.1481 - val_mean_absolute_error: 39.1481
Epoch 10/30
1461/1461 [==============================] - 56s 39ms/step - loss: 46.2547 - mean_absolute_error: 46.2547 - val_loss: 40.3931 - val_mean_absolute_error: 40.3931
Epoch 11/30
1461/1461 [==============================] - 56s 39ms/step - loss: 46.0333 - mean_absolute_error: 46.0333 - val_loss: 38.7914 - val_mean_absolute_error: 38.7914
Epoch 12/30
1461/1461 [==============================] - 56s 39ms/step - loss: 45.8305 - mean_absolute_error: 45.8305 - val_loss: 40.2871 - val_mean_absolute_error: 40.2871
Epoch 13/30
1461/1461 [==============================] - 62s 43ms/step - loss: 45.5990 - mean_absolute_error: 45.5990 - val_loss: 40.0044 - val_mean_absolute_error: 40.0044
Epoch 14/30
1461/1461 [==============================] - 61s 42ms/step - loss: 45.3898 - mean_absolute_error: 45.3898 - val_loss: 38.0751 - val_mean_absolute_error: 38.0751
Epoch 15/30
1461/1461 [==============================] - 61s 41ms/step - loss: 45.3361 - mean_absolute_error: 45.3361 - val_loss: 38.7638 - val_mean_absolute_error: 38.7638
Epoch 16/30
1461/1461 [==============================] - 64s 44ms/step - loss: 45.0819 - mean_absolute_error: 45.0819 - val_loss: 38.9328 - val_mean_absolute_error: 38.9328
Epoch 17/30
1461/1461 [==============================] - ETA: 0s - loss: 45.0305 - mean_absolute_error: 45.0305
Epoch 00017: ReduceLROnPlateau reducing learning rate to 0.0009999999776482583.
1461/1461 [==============================] - 60s 41ms/step - loss: 45.0305 - mean_absolute_error: 45.0305 - val_loss: 39.2781 - val_mean_absolute_error: 39.2781
Epoch 18/30
1461/1461 [==============================] - 63s 43ms/step - loss: 43.1886 - mean_absolute_error: 43.1886 - val_loss: 36.7607 - val_mean_absolute_error: 36.7607
Epoch 19/30
1461/1461 [==============================] - 59s 40ms/step - loss: 42.8417 - mean_absolute_error: 42.8417 - val_loss: 36.6754 - val_mean_absolute_error: 36.6754
Epoch 20/30
1461/1461 [==============================] - 59s 40ms/step - loss: 42.6572 - mean_absolute_error: 42.6572 - val_loss: 37.1993 - val_mean_absolute_error: 37.1993
Epoch 21/30
1461/1461 [==============================] - 58s 40ms/step - loss: 42.5483 - mean_absolute_error: 42.5483 - val_loss: 36.7240 - val_mean_absolute_error: 36.7240
Epoch 22/30
1460/1461 [============================>.] - ETA: 0s - loss: 42.4261 - mean_absolute_error: 42.4261
Epoch 00022: ReduceLROnPlateau reducing learning rate to 9.999999310821295e-05.
1461/1461 [==============================] - 59s 40ms/step - loss: 42.4247 - mean_absolute_error: 42.4247 - val_loss: 36.7532 - val_mean_absolute_error: 36.7532
Epoch 23/30
1461/1461 [==============================] - 60s 41ms/step - loss: 42.0237 - mean_absolute_error: 42.0237 - val_loss: 36.7358 - val_mean_absolute_error: 36.7358
Epoch 24/30
1461/1461 [==============================] - 60s 41ms/step - loss: 41.9702 - mean_absolute_error: 41.9702 - val_loss: 36.6880 - val_mean_absolute_error: 36.6880
Epoch 00024: early stopping

In [27]:
num = 11

In [28]:
X_test = [] 
for i in range(num,len(test_x)):
    X_test.append(test_x[i-num:i-1]) 
X_test = np.array(X_test)

In [29]:
prediction_part1 = model.predict(X_train[-num:])
prediction_part2 = model.predict(X_test)
pred = np.append(prediction_part1,prediction_part2)

驗證

In [30]:
data = pd.read_csv('dataset.csv')
size = len(data) - 8760
test_data = data[size:]
test_y=test_data['pm2.5']
test_y=test_y.fillna(method = 'ffill')

In [31]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(test_y, pred)

46.110525356090236

In [32]:
ID = range(1,8761)
ans = pd.DataFrame({'ID':ID,'Predicted':pred})
ans.to_csv('LSTM_0604_corr_0dot1.csv',index=False)